footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4(class={"border-top": !noborder})
    .col-md-4.d-flex.align-items-center
        span.text-muted &copy; 2021 Fineberg Lab
    ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
        li.ms-3
            a(href='#')
                i.fab.fa-twitter.font-size-1x5

        li.ms-3
            a(href='#')
                i.fab.fa-instagram.font-size-1x5

        li.ms-3
            a(href='#')
                i.fab.fa-facebook.font-size-1x5
