doctype html
html(lang='en')

    head

        include includes/head

        title Fineberg Lab | Home

    body

        - const activePage = 'index.pug';
            include includes/header

        .py-5.text-center.container
            .row.py-lg-5
                .col-lg-6.col-md-8.mx-auto
                    h1.fw-light Fineberg Lab
                    p.lead
                        | We study Borderline Personality Disorder at Yale University.
                    p
                        a.btn.btn-primary.my-2(href='publications.pug') Publications
                        | &nbsp;
                        a.btn.btn-secondary.my-2(href='projects.pug') Projects
        //.py-5.bg-light
        //    .container
        //        .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
        //            .col
        //                .card
        //                    .card-header NS Paper
        //                    .card-body
        //                        p Some quick example text to build on the card title and make up the bulk of the card's content.


        .container
            include includes/footer

        include includes/scripts
