doctype html
html(lang='en')

    head

        include includes/head

        title Fineberg Lab | Members

    body

        - const activePage = 'projects.pug';
            include includes/header

        .container.pt-4

            h2.pb-2 Projects



            include includes/footer

        include includes/scripts
